<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Home Page</title>
    </head>
    <body>
    <h1>=== MY FIRST WEB SITE ===</h1>
    <h2>HOME PAGE</h2>
    <ul>
        <li><h1>h1</h1></li>
        <li><h2>h2</h2></li>
        <li><em>em</em></li>
        <li><strong>strong</strong></li>
        <li>br</li><br />
        <li><a href="http://skobnikoff.pythonanywhere.com/">a href="http://skobnikoff.pythonanywhere.com/"</a></li>
        <li>div</li>
        <div></div>

    </ul>
    </body>
</html>